*{
  margin: 0;
  padding: 0;
}
body{
  position: relative;
}
#content{
  position: absolute;
  left: 50%;
  top: 100px;
  width: 60%;
  height: 500px;
  transform: translate(-50%,50%);
  /* border: 1px solid red; */
}
#content h4, #content h6{
  margin: 20px;
  text-align: center;
}
#content div{
  border-radius: 100px!important;
  border: none!important;
  background: #34aadc;
  width: 100%;
}


#join, .username, .roomname{
  margin-top: 50px;
  height: 80px;
  border-radius: 100px!important;
  font-size: 18px;
  letter-spacing: .85px;
  outline: none!important;
  border: none!important;
  cursor: pointer;
  border-radius: 100px!important;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ddd;
  font-size: 16px;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #ddd;
  font-size: 16px;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #ddd;
  font-size: 16px;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #ddd;
  font-size: 16px;
}
#roomname, #username{
  margin-left: 10%;
  /* margin-top: 1%; */
  width: 80%;
  height: 98%;
  line-height: 40px;
  text-indent: 5%;
  background-color: transparent;
  outline: none !important;
  border: none !important;
  color: white;
  font-size: 18px;
}
#join{
   /* background-color: #fff; */
   width: 100%;
   cursor: pointer;
   background: #34aadc !important;
   border-radius: 100px !important;
   font-size: 18px;
   letter-spacing: .85px;
   outline: none !important;
   border: none !important;
   text-align: center;
   color: white;
}


/* 媒体 */
#localtracks{
  width: 100%;
  /* border: 1px solid red; */
}
#remotetracks{
  display: flex;
  width: 20%;
  /* border: 1px solid red; */
}

/* #localtracks, #remotetracks{
  display: none;
} */