*{
  margin: 0;
  padding: 0;
}
body{
  position: relative;
}
#content{
  position: absolute;
  left: 50%;
  top: 20%;
  width: 300px;
  height: 300px;
  transform: translate(-50%,50%);
  /* border: 1px solid red; */
}
#join, .username, .roomname{
  margin-top: 30px;
  margin-left: 10%;
  width: 80%;
  font-size: 14px;
}

.username>input, .roomname>input{
  height: 24px;
  /* border: none; */
  outline: none;
  text-indent: 3px;
}

/* 媒体 */
#localtracks{
  width: 100%;
  /* border: 1px solid red; */
}
#remotetracks{
  width: 20%;
  /* border: 1px solid red; */
}
/* #localtracks, #remotetracks{
  display: none;
} */